<h1 class="text-center font-bold text-5xl my-10">Countries</h1>

<table class="px-10 bg-lime-500 rounded">
  <thead>
    <tr>
      <th class="text-start px-5 py-2">Name</th>
      <th class="text-start px-5 py-2">Continent</th>
      <th class="text-start px-5 py-2">Independent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries">
      <td class="text-start px-5 py-2">
        <span>{{ country.name }}</span>
      </td>
      <td class="text-start px-5 py-2">
        <span>{{ country.region }}</span>
      </td>
      <td class="text-start px-5 py-2">
        <span>{{ country.independent }}</span>
      </td>
    </tr>
  </tbody>
</table>
